In [1]:
L = [10,20,30,40,50,60,70,80]
L.append(200)
L.append(300)
print("After adding 200 and 300:",L)
L.remove(10)
L.remove(30)
print("Ater removing 10 and 30:",L)
L.sort()
print("Sorted in ascending order:",L)
L.sort(reverse=True)
print("Sorted in descending order:",L)

After adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
Ater removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

In [2]:
scores = (45,89.5,76,45.4,89,92,58,45)
highest_score = max(scores)
highest_index = scores.index(highest_score)
print("Highest score:",highest_score)
print("Index of highest score:",highest_index)
lowest_score = min(scores)
lowest_count = scores.count(lowest_score)
print("Lowest score:",lowest_score)
print("Number of times lowest score occured:",lowest_count)
reversed_list = list(scores[::-1])
print("Reversed list:",reversed_list)
search_score = 76
if search_score in scores:
    print("Score found")
else:
    print("Score not found")

Highest score: 92
Index of highest score: 5
Lowest score: 45
Number of times lowest score occured: 2
Reversed list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Score found

In [30]:
import random


random_numbers = [random.randint(100, 900) for _ in range(100)]


def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True


odd_numbers = [num for num in random_numbers if num % 2 != 0]

even_numbers = [num for num in random_numbers if num % 2 == 0]


prime_numbers = [num for num in random_numbers if is_prime(num)]


print("Odd Numbers:", odd_numbers)
print("Even Numbers:", even_numbers)
print("Prime Numbers:", prime_numbers)


A = {34, 56, 78, 90}
B = {78, 45, 90, 23}


union_set = A | B
print("Unique scores (Union):", union_set)


intersection_set = A & B
print("Common scores (Intersection):", intersection_set)


symmetric_difference_set = A ^ B
print("Exclusive scores (Symmetric Difference):", symmetric_difference_set)


is_subset = A.issubset(B)
is_superset = B.issuperset(A)
print(f"Is A a subset of B? {is_subset}")
print(f"Is B a superset of A? {is_superset}")


X = int(input("Enter a score to remove from A: "))
if X in A:
    A.remove(X)
    print(f"Score {X} removed from A. Updated A:", A)
else:
    print(f"Score {X} is not present in A.")

Odd Numbers: [401, 607, 431, 863, 539, 323, 129, 277, 479, 785, 455, 211, 441, 227, 647, 621, 447, 239, 281, 469, 363, 727, 783, 619, 859, 133, 285, 575, 567, 323, 665, 175, 597, 135, 257, 821, 519, 267, 559, 551, 789, 409, 777, 245, 817, 315, 411, 783, 499, 289]
Even Numbers: [308, 678, 632, 870, 576, 158, 542, 250, 180, 354, 784, 554, 590, 262, 756, 752, 362, 216, 346, 866, 620, 572, 540, 816, 258, 464, 250, 376, 700, 762, 816, 892, 386, 344, 720, 188, 708, 644, 602, 386, 294, 806, 234, 376, 512, 108, 430, 672, 450, 794]
Prime Numbers: [401, 607, 431, 863, 277, 479, 211, 227, 647, 239, 281, 727, 619, 859, 257, 821, 409, 499]
Unique scores (Union): {34, 45, 78, 23, 56, 90}
Common scores (Intersection): {90, 78}
Exclusive scores (Symmetric Difference): {34, 45, 23, 56}
Is A a subset of B? False
Is B a superset of A? False
Enter a score to remove from A: 56
Score 56 removed from A. Updated A: {34, 90, 78}

In [31]:
sample_dict={
    "name":"Kelly",
    "age":25,
    "salary":8000,
    "city":"New York"
}
print(sample_dict)
del sample_dict["city"]
sample_dict["location"]="New York"
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New York'}
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}